@model MVCContactDirectory.Model.ContactInfo
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<html>
<head>
    <title>Add New Contact</title>
</head>
<body>
    <a asp-action="ShowContacts" asp-controller="Contact">Show All Contacts</a>
    <h3>New Contact</h3>

    <form asp-action="AddContact" method="post">
        <div>
            <label asp-for="FirstName">First Name:</label>
            <input type="text" asp-for="FirstName" placeholder="Enter First Name" />
        </div>

        <div>
            <label asp-for="LastName">Last Name:</label>
            <input type="text" asp-for="LastName" placeholder="Enter Last Name" />
        </div>

        <div>
            <label asp-for="CompanyName">Company Name:</label>
            <input type="text" asp-for="CompanyName" placeholder="Enter Company Name" />
        </div>

        <div>
            <label asp-for="EmailId">Email:</label>
            <input type="email" asp-for="EmailId" placeholder="Enter Email" />
        </div>

        <div>
            <label asp-for="MobileNo">Mobile No:</label>
            <input type="number" asp-for="MobileNo" placeholder="Enter Mobile Number" />
        </div>

        <div>
            <label asp-for="Designation">Designation:</label>
            <input type="text" asp-for="Designation" placeholder="Enter Designation" />
        </div>

        <div>
            <input type="submit" value="Add Contact" />
        </div>
    </form>
</body>
</html>
